body {
    min-height: 100vh;
    padding: 0%;
    background: linear-gradient(45deg, #03045E, #0077B6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------- Login Box Design ---------- */

#loginBox {
    background-color: #d0d0d0;
    height: 80vh;
    width: 40vw;
    border-radius: 50px;
    border: 5px solid #ececec;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#loginBox::after,
#loginBox::before {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: rgb(255, 255, 255);

    color: #002b42;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}



#loginBox::before {
    content: "Login Your ID";
    border-radius: 45px 45px 0px 0px;
    font-size: 2rem;
    align-self: flex-start;
}

#loginBox::after {
    content: "Developed by: Prithvi Beldar";
    top: 80%;
    border-radius: 0px 0px 45px 45px;
    font-size: 1.2rem;
}

/* --------- form Design ---------- */

#loginform {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    row-gap: 35px;
}

input {
    background-color: #e4e4e4;
    padding: 5px;
    padding-left: 20px;
    height: 50px;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    font-size: 20px;
}

:focus {
    border: none;
    outline: none;
}

.inputBox {
    display: flex;
    flex-direction: row;
}

p {
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 20px;
    margin: 0px;
    height: 60px;
    width: 30%;
    background-color: rgb(255, 255, 255);
}


button {
    color: white;
    font-size: 20px;
    border: 0px;
    background-color: #009ff4;
    border: 3px solid #009ff4;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    transition: ease-in-out 0.3s;
}

button:hover {
    transition: ease-in-out 0.3s;
    background-color: #004c76;
    border: 3px solid #0090dd;
}

/* -------------Responsive layout ------------------- */

@media (max-width: 750px) {
    body {
        background: #00486e;
    }
}

@media (max-width: 450px) {
    #loginBox {
        height: 70vh;
    }
}

@media (max-width: 1145px){
    #loginBox {
        width: 60vw;
    }
}

@media (max-width: 500px){
    #loginBox {
        width: 80vw;
    }
}

@media (max-height: 937px){
    #loginBox {
        overflow: hidden;
    }

    #loginBox::after {
        font-size: 1rem;
    }

    #loginBox::before {
        text-align: center;
        font-size: 1.2rem;
    }
}