*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-columns: 20vw auto;
    overflow: hidden;
}

/* --------------------------------------Header */

h1{
    font-size: 1.7rem;
}

aside{
    color: #03045E;
    grid-area:1 / 1 / 1 / 1;
    box-shadow: 4px 5px 5px rgba(0, 0, 255, 0.362);
    z-index: 1;
    display: grid;
    align-items: center;
    padding-left: 10%;
}

header{
    color: #03045E;
    background-color: white;
    grid-area:1 / 2 / 2 / 3;
    box-shadow: 4px 5px 5px rgba(0, 0, 255, 0.362);
    z-index: 1;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 20vw;
    align-items: center;
}

#logoutBox{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo{
    height: 50px;
    width: 50px;
    color: white;
    background-color: #03045E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#Logoutbtn{
    height: 40px;
    width: 90px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 20px;
    margin-left:30px ;
}

/* --------------------------------------nav */

nav{
    background-color: rgb(230, 230, 230);
    grid-area:2 / 1 / 2 / 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav_card{
    height: 50px;
    width: 100%;
    background-color: rgb(83, 83, 255);
    border-radius: 20px;
    color: white;
    display: flex;
    padding: 0px 150px 0px 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 4px 5px 0px rgb(68, 68, 158);
}

.nav_card.active {
    position: relative;
    top: 4px;
    left: 5px;
    color: yellow;
    background-color: rgb(48, 48, 189);
    box-shadow: 0px 0px 0px rgb(68, 68, 158);
}


.emoji{
    padding-right: 20px;
}

/* --------------------------------------main */

main{
    background-color: rgb(196, 196, 196);
    grid-area:2 / 2 / 2 / 3;
}

section{
    background-color: rgb(246, 254, 255);
    height: 100%;
    width: 100%;
}

h3{
    font-size: 1.5rem;
}

/* =============  Sections   ================*/

#Dashboard{display: none;}
#Students{display: none;}
#Courses{display: none;}  
#Attendance{display: none;}
#Marks{display:none;} 

#Attendance , #Marks{
    justify-content: center;
    align-items: center;
}
/* --------------------------------------footer */

footer{
    background-color: rgb(255, 255, 255);
    grid-area:3 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;

    box-shadow: -4px -5px 5px rgba(0, 0, 255, 0.362);
    z-index: 1;
}

